<%= form_with(model: usser, local: true) do |form| %>
  <% if usser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usser.errors.count, "error") %> prohibited this usser from being saved:</h2>

      <ul>
      <% usser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
